--
-- PostgreSQL database dump
--

\restrict wkI4TqlgOuZnl38xUBYc3enPUhBRa2Q3B1B6lNXiLM7sBeuApDn9NOqe7kHhlIf

-- Dumped from database version 17.6 (Debian 17.6-1.pgdg13+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.correct_answers DROP CONSTRAINT IF EXISTS valid_worst_option;
ALTER TABLE IF EXISTS ONLY public.correct_answers DROP CONSTRAINT IF EXISTS valid_best_option;
ALTER TABLE IF EXISTS ONLY public.session DROP CONSTRAINT IF EXISTS session_user_id_user_id_fk;
ALTER TABLE IF EXISTS ONLY public.responses DROP CONSTRAINT IF EXISTS responses_question_id_fkey;
ALTER TABLE IF EXISTS ONLY public.responses DROP CONSTRAINT IF EXISTS responses_attempt_id_fkey;
ALTER TABLE IF EXISTS ONLY public.questions DROP CONSTRAINT IF EXISTS questions_assessment_id_fkey;
ALTER TABLE IF EXISTS ONLY public.participants DROP CONSTRAINT IF EXISTS participants_organization_id_fkey;
ALTER TABLE IF EXISTS ONLY public.participants DROP CONSTRAINT IF EXISTS participants_cohort_id_fkey;
ALTER TABLE IF EXISTS ONLY public.options DROP CONSTRAINT IF EXISTS options_question_id_fkey;
ALTER TABLE IF EXISTS ONLY public.member DROP CONSTRAINT IF EXISTS member_user_id_user_id_fk;
ALTER TABLE IF EXISTS ONLY public.member DROP CONSTRAINT IF EXISTS member_organization_id_organization_id_fk;
ALTER TABLE IF EXISTS ONLY public.invitation DROP CONSTRAINT IF EXISTS invitation_organization_id_organization_id_fk;
ALTER TABLE IF EXISTS ONLY public.invitation DROP CONSTRAINT IF EXISTS invitation_inviter_id_user_id_fk;
ALTER TABLE IF EXISTS ONLY public.correct_answers DROP CONSTRAINT IF EXISTS correct_answers_question_id_fkey;
ALTER TABLE IF EXISTS ONLY public.cohorts DROP CONSTRAINT IF EXISTS cohorts_organization_id_fkey;
ALTER TABLE IF EXISTS ONLY public.attempts DROP CONSTRAINT IF EXISTS attempts_participant_id_fkey;
ALTER TABLE IF EXISTS ONLY public.attempts DROP CONSTRAINT IF EXISTS attempts_assessment_id_fkey;
ALTER TABLE IF EXISTS ONLY public.account DROP CONSTRAINT IF EXISTS account_user_id_user_id_fk;
DROP INDEX IF EXISTS public.idx_responses_attempt_id;
DROP INDEX IF EXISTS public.idx_questions_assessment_id;
DROP INDEX IF EXISTS public.idx_passcodes_type;
DROP INDEX IF EXISTS public.idx_passcodes_expires_at;
DROP INDEX IF EXISTS public.idx_passcodes_email;
DROP INDEX IF EXISTS public.idx_passcodes_code;
DROP INDEX IF EXISTS public.idx_participants_organization_id;
DROP INDEX IF EXISTS public.idx_participants_email;
DROP INDEX IF EXISTS public.idx_participants_cohort_id;
DROP INDEX IF EXISTS public.idx_options_question_id;
DROP INDEX IF EXISTS public.idx_correct_answers_question_id;
DROP INDEX IF EXISTS public.idx_cohorts_organization_id;
DROP INDEX IF EXISTS public.idx_attempts_participant_id;
ALTER TABLE IF EXISTS ONLY public.verification DROP CONSTRAINT IF EXISTS verification_pkey;
ALTER TABLE IF EXISTS ONLY public."user" DROP CONSTRAINT IF EXISTS user_pkey;
ALTER TABLE IF EXISTS ONLY public."user" DROP CONSTRAINT IF EXISTS user_email_unique;
ALTER TABLE IF EXISTS ONLY public.session DROP CONSTRAINT IF EXISTS session_token_unique;
ALTER TABLE IF EXISTS ONLY public.session DROP CONSTRAINT IF EXISTS session_pkey;
ALTER TABLE IF EXISTS ONLY public.responses DROP CONSTRAINT IF EXISTS responses_pkey;
ALTER TABLE IF EXISTS ONLY public.responses DROP CONSTRAINT IF EXISTS responses_attempt_id_question_id_key;
ALTER TABLE IF EXISTS ONLY public.questions DROP CONSTRAINT IF EXISTS questions_pkey;
ALTER TABLE IF EXISTS ONLY public.passcodes DROP CONSTRAINT IF EXISTS passcodes_pkey;
ALTER TABLE IF EXISTS ONLY public.participants DROP CONSTRAINT IF EXISTS participants_pkey;
ALTER TABLE IF EXISTS ONLY public.organization DROP CONSTRAINT IF EXISTS organization_slug_unique;
ALTER TABLE IF EXISTS ONLY public.organization DROP CONSTRAINT IF EXISTS organization_pkey;
ALTER TABLE IF EXISTS ONLY public.options DROP CONSTRAINT IF EXISTS options_pkey;
ALTER TABLE IF EXISTS ONLY public.member DROP CONSTRAINT IF EXISTS member_pkey;
ALTER TABLE IF EXISTS ONLY public.invitation DROP CONSTRAINT IF EXISTS invitation_pkey;
ALTER TABLE IF EXISTS ONLY public.correct_answers DROP CONSTRAINT IF EXISTS correct_answers_pkey;
ALTER TABLE IF EXISTS ONLY public.cohorts DROP CONSTRAINT IF EXISTS cohorts_pkey;
ALTER TABLE IF EXISTS ONLY public.cohorts DROP CONSTRAINT IF EXISTS cohorts_organization_id_name_key;
ALTER TABLE IF EXISTS ONLY public.attempts DROP CONSTRAINT IF EXISTS attempts_pkey;
ALTER TABLE IF EXISTS ONLY public.attempts DROP CONSTRAINT IF EXISTS attempts_participant_id_assessment_id_type_key;
ALTER TABLE IF EXISTS ONLY public.assessments DROP CONSTRAINT IF EXISTS assessments_pkey;
ALTER TABLE IF EXISTS ONLY public.account DROP CONSTRAINT IF EXISTS account_pkey;
ALTER TABLE IF EXISTS ONLY drizzle.__drizzle_migrations DROP CONSTRAINT IF EXISTS __drizzle_migrations_pkey;
ALTER TABLE IF EXISTS public.questions ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS drizzle.__drizzle_migrations ALTER COLUMN id DROP DEFAULT;
DROP TABLE IF EXISTS public.verification;
DROP TABLE IF EXISTS public."user";
DROP TABLE IF EXISTS public.session;
DROP TABLE IF EXISTS public.responses;
DROP SEQUENCE IF EXISTS public.questions_id_seq;
DROP TABLE IF EXISTS public.questions;
DROP TABLE IF EXISTS public.passcodes;
DROP TABLE IF EXISTS public.participants;
DROP TABLE IF EXISTS public.organization;
DROP TABLE IF EXISTS public.options;
DROP TABLE IF EXISTS public.member;
DROP TABLE IF EXISTS public.invitation;
DROP TABLE IF EXISTS public.correct_answers;
DROP TABLE IF EXISTS public.cohorts;
DROP TABLE IF EXISTS public.attempts;
DROP TABLE IF EXISTS public.assessments;
DROP TABLE IF EXISTS public.account;
DROP SEQUENCE IF EXISTS drizzle.__drizzle_migrations_id_seq;
DROP TABLE IF EXISTS drizzle.__drizzle_migrations;
DROP SCHEMA IF EXISTS drizzle;
--
-- Name: drizzle; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA drizzle;


SET default_table_access_method = heap;

--
-- Name: __drizzle_migrations; Type: TABLE; Schema: drizzle; Owner: -
--

CREATE TABLE drizzle.__drizzle_migrations (
    id integer NOT NULL,
    hash text NOT NULL,
    created_at bigint
);


--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE; Schema: drizzle; Owner: -
--

CREATE SEQUENCE drizzle.__drizzle_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: drizzle; Owner: -
--

ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNED BY drizzle.__drizzle_migrations.id;


--
-- Name: account; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.account (
    id text NOT NULL,
    account_id text NOT NULL,
    provider_id text NOT NULL,
    user_id text NOT NULL,
    access_token text,
    refresh_token text,
    id_token text,
    access_token_expires_at timestamp without time zone,
    refresh_token_expires_at timestamp without time zone,
    scope text,
    password text,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL
);


--
-- Name: assessments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.assessments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title text NOT NULL,
    description text,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: attempts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.attempts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    participant_id uuid,
    assessment_id uuid,
    started_at timestamp with time zone DEFAULT now(),
    completed_at timestamp with time zone,
    email_sent_at timestamp with time zone,
    report_data jsonb,
    status text DEFAULT 'in_progress'::text NOT NULL,
    last_question_seen integer DEFAULT 1,
    welcome_email_sent boolean DEFAULT false,
    results_email_sent boolean DEFAULT false,
    type text DEFAULT 'pre_assessment'::text NOT NULL,
    CONSTRAINT attempts_status_check CHECK ((status = ANY (ARRAY['in_progress'::text, 'completed'::text, 'abandoned'::text]))),
    CONSTRAINT attempts_type_check CHECK ((type = ANY (ARRAY['pre_assessment'::text, 'post_assessment'::text])))
);


--
-- Name: cohorts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cohorts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    organization_id text NOT NULL,
    name text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


--
-- Name: correct_answers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.correct_answers (
    question_id integer NOT NULL,
    best_option_id text NOT NULL,
    worst_option_id text NOT NULL,
    CONSTRAINT different_options CHECK ((best_option_id <> worst_option_id))
);


--
-- Name: invitation; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.invitation (
    id text NOT NULL,
    organization_id text NOT NULL,
    email text NOT NULL,
    role text,
    status text NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    inviter_id text NOT NULL
);


--
-- Name: member; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.member (
    id text NOT NULL,
    organization_id text NOT NULL,
    user_id text NOT NULL,
    role text NOT NULL,
    created_at timestamp without time zone NOT NULL
);


--
-- Name: options; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.options (
    id text NOT NULL,
    question_id integer NOT NULL,
    text text NOT NULL
);


--
-- Name: organization; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.organization (
    id text NOT NULL,
    name text NOT NULL,
    slug text,
    logo text,
    created_at timestamp without time zone NOT NULL,
    metadata text
);


--
-- Name: participants; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.participants (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email text NOT NULL,
    full_name text,
    created_at timestamp with time zone DEFAULT now(),
    last_active_at timestamp with time zone DEFAULT now(),
    cohort_id uuid,
    organization_id text,
    stay_out text DEFAULT 'Stay'::text NOT NULL,
    CONSTRAINT stay_out_check CHECK ((stay_out = ANY (ARRAY['Stay'::text, 'Out'::text])))
);


--
-- Name: passcodes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.passcodes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email text NOT NULL,
    code text NOT NULL,
    type text NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    used boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: questions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.questions (
    id integer NOT NULL,
    assessment_id uuid,
    text text NOT NULL,
    order_number integer NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    category text NOT NULL
);


--
-- Name: questions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public.questions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: questions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public.questions_id_seq OWNED BY public.questions.id;


--
-- Name: responses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.responses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    attempt_id uuid,
    question_id integer,
    best_option_id text,
    worst_option_id text,
    created_at timestamp with time zone DEFAULT now()
);


--
-- Name: session; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.session (
    id text NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    token text NOT NULL,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    ip_address text,
    user_agent text,
    user_id text NOT NULL,
    impersonated_by text,
    active_organization_id text
);


--
-- Name: user; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."user" (
    id text NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    email_verified boolean NOT NULL,
    image text,
    created_at timestamp without time zone NOT NULL,
    updated_at timestamp without time zone NOT NULL,
    role text,
    banned boolean,
    ban_reason text,
    ban_expires timestamp without time zone
);


--
-- Name: verification; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.verification (
    id text NOT NULL,
    identifier text NOT NULL,
    value text NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone,
    updated_at timestamp without time zone
);


--
-- Name: __drizzle_migrations id; Type: DEFAULT; Schema: drizzle; Owner: -
--

ALTER TABLE ONLY drizzle.__drizzle_migrations ALTER COLUMN id SET DEFAULT nextval('drizzle.__drizzle_migrations_id_seq'::regclass);


--
-- Name: questions id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.questions ALTER COLUMN id SET DEFAULT nextval('public.questions_id_seq'::regclass);


--
-- Data for Name: __drizzle_migrations; Type: TABLE DATA; Schema: drizzle; Owner: -
--



--
-- Data for Name: account; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.account (id, account_id, provider_id, user_id, access_token, refresh_token, id_token, access_token_expires_at, refresh_token_expires_at, scope, password, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: assessments; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.assessments (id, title, description, created_at) FROM stdin;
3dea723f-7258-47cb-aee3-fa54030153f5	Chef Leadership Assessment	Assessment for culinary leadership skills and decision-making	2025-09-03 10:31:44.87967+00
\.


--
-- Data for Name: attempts; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.attempts (id, participant_id, assessment_id, started_at, completed_at, email_sent_at, report_data, status, last_question_seen, welcome_email_sent, results_email_sent, type) FROM stdin;
\.


--
-- Data for Name: cohorts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: correct_answers; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.correct_answers (question_id, best_option_id, worst_option_id) FROM stdin;
1	D	A
2	E	D
3	B	D
4	D	C
5	B	C
6	E	A
7	A	C
8	A	D
9	D	B
10	A	D
11	C	E
12	B	C
13	B	D
14	A	C
15	B	E
16	C	A
17	A	B
18	A	D
19	A	C
20	A	C
\.


--
-- Data for Name: invitation; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.invitation (id, organization_id, email, role, status, expires_at, inviter_id) FROM stdin;
\.


--
-- Data for Name: member; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.member (id, organization_id, user_id, role, created_at) FROM stdin;
member_1759778231781_h1oa78kc6	org_1759778231775_aix6meyx2	b8e55b49-a498-46c4-ab9c-2a41b321c67a	owner	2025-10-06 19:17:11.781
member_1759838099016_y34onunia	org_1759838099007_2t2qwyp6s	67af5d1c-d948-4a42-ae9a-1f7de71b75ed	owner	2025-10-07 11:54:59.016
\.


--
-- Data for Name: options; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: organization; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: participants; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: passcodes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.passcodes (id, email, code, type, expires_at, used, created_at) FROM stdin;
b8bc8648-44d0-49ad-8a24-d9cba595bb8b	test@example.com	198283	password_reset	2025-09-25 11:01:23.77	f	2025-09-25 10:51:23.862962
73e03822-fb69-4b61-a8e6-e7468c350bb4	passcode-test@example.com	492492	registration	2025-10-07 09:41:47.007	f	2025-10-07 09:31:47.044707
\.


--
-- Data for Name: questions; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: responses; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.responses (id, attempt_id, question_id, best_option_id, worst_option_id, created_at) FROM stdin;
\.


--
-- Data for Name: session; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.session (id, expires_at, token, created_at, updated_at, ip_address, user_agent, user_id, impersonated_by, active_organization_id) FROM stdin;
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."user" (id, name, email, email_verified, image, created_at, updated_at, role, banned, ban_reason, ban_expires) FROM stdin;
67af5d1c-d948-4a42-ae9a-1f7de71b75ed	Sam	galtecmark@gmail.com	t	\N	2025-10-07 11:53:26.31	2025-10-08 10:15:14.265	organization	\N	\N	\N
b8e55b49-a498-46c4-ab9c-2a41b321c67a	Huzaifa	huzaifataimoor308@gmail.com	t	\N	2025-10-06 19:10:58.234	2025-10-08 10:17:45.31	organization	\N	\N	\N
43a06540-bcda-4585-b51e-0d339341253d	Admin User	admin@example.com	t	\N	2025-09-17 10:39:06.168	2025-10-16 15:14:40.241	admin	\N	\N	\N
\.


--
-- Data for Name: verification; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.verification (id, identifier, value, expires_at, created_at, updated_at) FROM stdin;
\.


--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE SET; Schema: drizzle; Owner: -
--

SELECT pg_catalog.setval('drizzle.__drizzle_migrations_id_seq', 9, true);


--
-- Name: questions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.questions_id_seq', 20, true);


--
-- Name: __drizzle_migrations __drizzle_migrations_pkey; Type: CONSTRAINT; Schema: drizzle; Owner: -
--

ALTER TABLE ONLY drizzle.__drizzle_migrations
    ADD CONSTRAINT __drizzle_migrations_pkey PRIMARY KEY (id);


--
-- Name: account account_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.account
    ADD CONSTRAINT account_pkey PRIMARY KEY (id);


--
-- Name: assessments assessments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.assessments
    ADD CONSTRAINT assessments_pkey PRIMARY KEY (id);


--
-- Name: attempts attempts_participant_id_assessment_id_type_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_participant_id_assessment_id_type_key UNIQUE (participant_id, assessment_id, type);


--
-- Name: attempts attempts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_pkey PRIMARY KEY (id);


--
-- Name: cohorts cohorts_organization_id_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cohorts
    ADD CONSTRAINT cohorts_organization_id_name_key UNIQUE (organization_id, name);


--
-- Name: cohorts cohorts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cohorts
    ADD CONSTRAINT cohorts_pkey PRIMARY KEY (id);


--
-- Name: correct_answers correct_answers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.correct_answers
    ADD CONSTRAINT correct_answers_pkey PRIMARY KEY (question_id);


--
-- Name: invitation invitation_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invitation
    ADD CONSTRAINT invitation_pkey PRIMARY KEY (id);


--
-- Name: member member_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.member
    ADD CONSTRAINT member_pkey PRIMARY KEY (id);


--
-- Name: options options_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.options
    ADD CONSTRAINT options_pkey PRIMARY KEY (id, question_id);


--
-- Name: organization organization_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organization
    ADD CONSTRAINT organization_pkey PRIMARY KEY (id);


--
-- Name: organization organization_slug_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.organization
    ADD CONSTRAINT organization_slug_unique UNIQUE (slug);


--
-- Name: participants participants_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.participants
    ADD CONSTRAINT participants_pkey PRIMARY KEY (id);


--
-- Name: passcodes passcodes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.passcodes
    ADD CONSTRAINT passcodes_pkey PRIMARY KEY (id);


--
-- Name: questions questions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_pkey PRIMARY KEY (id);


--
-- Name: responses responses_attempt_id_question_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_attempt_id_question_id_key UNIQUE (attempt_id, question_id);


--
-- Name: responses responses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_pkey PRIMARY KEY (id);


--
-- Name: session session_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.session
    ADD CONSTRAINT session_pkey PRIMARY KEY (id);


--
-- Name: session session_token_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.session
    ADD CONSTRAINT session_token_unique UNIQUE (token);


--
-- Name: user user_email_unique; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_email_unique UNIQUE (email);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: verification verification_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.verification
    ADD CONSTRAINT verification_pkey PRIMARY KEY (id);


--
-- Name: idx_attempts_participant_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_attempts_participant_id ON public.attempts USING btree (participant_id);


--
-- Name: idx_cohorts_organization_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cohorts_organization_id ON public.cohorts USING btree (organization_id);


--
-- Name: idx_correct_answers_question_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_correct_answers_question_id ON public.correct_answers USING btree (question_id);


--
-- Name: idx_options_question_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_options_question_id ON public.options USING btree (question_id);


--
-- Name: idx_participants_cohort_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_participants_cohort_id ON public.participants USING btree (cohort_id);


--
-- Name: idx_participants_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_participants_email ON public.participants USING btree (email);


--
-- Name: idx_participants_organization_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_participants_organization_id ON public.participants USING btree (organization_id);


--
-- Name: idx_passcodes_code; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_passcodes_code ON public.passcodes USING btree (code);


--
-- Name: idx_passcodes_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_passcodes_email ON public.passcodes USING btree (email);


--
-- Name: idx_passcodes_expires_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_passcodes_expires_at ON public.passcodes USING btree (expires_at);


--
-- Name: idx_passcodes_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_passcodes_type ON public.passcodes USING btree (type);


--
-- Name: idx_questions_assessment_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_questions_assessment_id ON public.questions USING btree (assessment_id);


--
-- Name: idx_responses_attempt_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_responses_attempt_id ON public.responses USING btree (attempt_id);


--
-- Name: account account_user_id_user_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.account
    ADD CONSTRAINT account_user_id_user_id_fk FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: attempts attempts_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_assessment_id_fkey FOREIGN KEY (assessment_id) REFERENCES public.assessments(id) ON DELETE CASCADE;


--
-- Name: attempts attempts_participant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.attempts
    ADD CONSTRAINT attempts_participant_id_fkey FOREIGN KEY (participant_id) REFERENCES public.participants(id) ON DELETE CASCADE;


--
-- Name: cohorts cohorts_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cohorts
    ADD CONSTRAINT cohorts_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: correct_answers correct_answers_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.correct_answers
    ADD CONSTRAINT correct_answers_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON DELETE CASCADE;


--
-- Name: invitation invitation_inviter_id_user_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invitation
    ADD CONSTRAINT invitation_inviter_id_user_id_fk FOREIGN KEY (inviter_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: invitation invitation_organization_id_organization_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.invitation
    ADD CONSTRAINT invitation_organization_id_organization_id_fk FOREIGN KEY (organization_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: member member_organization_id_organization_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.member
    ADD CONSTRAINT member_organization_id_organization_id_fk FOREIGN KEY (organization_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: member member_user_id_user_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.member
    ADD CONSTRAINT member_user_id_user_id_fk FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: options options_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.options
    ADD CONSTRAINT options_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON DELETE CASCADE;


--
-- Name: participants participants_cohort_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.participants
    ADD CONSTRAINT participants_cohort_id_fkey FOREIGN KEY (cohort_id) REFERENCES public.cohorts(id) ON DELETE SET NULL;


--
-- Name: participants participants_organization_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.participants
    ADD CONSTRAINT participants_organization_id_fkey FOREIGN KEY (organization_id) REFERENCES public.organization(id) ON DELETE CASCADE;


--
-- Name: questions questions_assessment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.questions
    ADD CONSTRAINT questions_assessment_id_fkey FOREIGN KEY (assessment_id) REFERENCES public.assessments(id) ON DELETE CASCADE;


--
-- Name: responses responses_attempt_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_attempt_id_fkey FOREIGN KEY (attempt_id) REFERENCES public.attempts(id) ON DELETE CASCADE;


--
-- Name: responses responses_question_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.responses
    ADD CONSTRAINT responses_question_id_fkey FOREIGN KEY (question_id) REFERENCES public.questions(id) ON DELETE CASCADE;


--
-- Name: session session_user_id_user_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.session
    ADD CONSTRAINT session_user_id_user_id_fk FOREIGN KEY (user_id) REFERENCES public."user"(id) ON DELETE CASCADE;


--
-- Name: correct_answers valid_best_option; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.correct_answers
    ADD CONSTRAINT valid_best_option FOREIGN KEY (best_option_id, question_id) REFERENCES public.options(id, question_id);


--
-- Name: correct_answers valid_worst_option; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.correct_answers
    ADD CONSTRAINT valid_worst_option FOREIGN KEY (worst_option_id, question_id) REFERENCES public.options(id, question_id);


--
-- PostgreSQL database dump complete
--

\unrestrict wkI4TqlgOuZnl38xUBYc3enPUhBRa2Q3B1B6lNXiLM7sBeuApDn9NOqe7kHhlIf

